h1 {
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.box {
  border: 1px solid blue;
  padding: 0 20px;
  margin: 0 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.5);
  background-color: rgb(203, 203, 255);
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
p {
  font-size: 26px;
  padding-left: 20px;
}
#cats {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
}
